/* You can add global styles to this file, and also import other style files */

:root {
  --light-green: #a1c908;
  --dark-green: #02963e;
}

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 14pt;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #73d3ff !important;
  color: black !important;
}
