.home-page-container {
  padding-bottom: 20px;
  background: linear-gradient(180deg, var(--aru-light-green) 0%, var(--aru-dark-green) 100%);
  width: 100%;
  height: 100%;
  position: relative;
}

.home-page-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aru-table {
  border-collapse: collapse;
  width: 100%;
}

.aru-table-header {
  border-bottom: 1px solid #dddddd;
  padding: 5px;
  background: var(--aru-blue);
  text-align: center;
}

.aru-table-cell {
  padding: 2px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  vertical-align: center;
}

.aru-table-row:hover {
  background-color: var(--aru-light-blue);
}

.home-button {
  margin: 30px 50px;
}
