<app-header></app-header>
<div class="home-page-container">
  <div class="container-fluid">
    <h1>Imiona Simów</h1>
    <table class="aru-table">
      <tr class="aru-table-row">
        <th class="aru-table-header">Imię</th>
        <th class="aru-table-header">Płeć</th>
        <th class="aru-table-header">W użyciu</th>
        <th class="aru-table-header">Skasuj</th>
      </tr>
      <tr class="aru-table-row">
        <td class="aru-table-cell">Arek</td>
        <td class="aru-table-cell">
          <ion-icon name="man-outline"></ion-icon>
        </td>
        <td class="aru-table-cell">
          <ion-icon name="checkmark-outline"></ion-icon>
        </td>
        <td class="aru-table-cell">
          <ion-icon class="aru-delete-icon" name="trash-outline"></ion-icon>
        </td>
      </tr>
      <tr class="aru-table-row">
        <td class="aru-table-cell">Zosia</td>
        <td class="aru-table-cell">
          <ion-icon name="woman-outline"></ion-icon>
        </td>
        <td class="aru-table-cell"></td>
        <td class="aru-table-cell">
          <ion-icon class="aru-delete-icon" name="trash-outline"></ion-icon>
        </td>
      </tr>
    </table>
  </div>
</div>
<app-footer></app-footer>
