<div class="header-container">
  <div class="container-fluid">
    <button class="nav-button btn" routerLink="" routerLinkActive="active">
      <span class="nav-icon chevron-back-outline"></span>
    </button>
    <div class="nav-right">
      <div *ngIf="pageName === '/names'">
        <button class="nav-button btn btn-primary" (click)="showPopup('add-name')">
          <span class="nav-icon add-outline"></span>
        </button>
        <button class="nav-button btn btn-primary" (click)="showPopup('draw-name')">
          <span class="nav-icon shuffle-outline"></span>
        </button>
      </div>
      <div *ngIf="pageName === '/aspirations'">
        <button class="nav-button btn btn-primary" (click)="showPopup('add-aspiration')">
          <span class="nav-icon add-outline"></span>
        </button>
        <button class="nav-button btn btn-primary" (click)="showPopup('draw-aspiration')">
          <span class="nav-icon shuffle-outline"></span>
        </button>
      </div>
    </div>
  </div>
</div>
